* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-top: 75px;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: auto;
    max-width: 960px;
}

h1 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
}

.navigation {
    margin-bottom: 60px;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    background-color: #3f4852;
    color: #fd8612;
}

.navigation li {
    list-style: none;
}

.food {
    background-color: #2a3644;
    border-radius: 3px;
}

ul:not(.open) >li:first-child >a {
    border-radius: 3px 0 0 3px;
}

ul:not(.open) >li:last-child >a {
    border-radius:  0 3px 3px 0;
}

.food-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.food a {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    border-left: 1px solid #3f4852;
    border-right: 1px solid #3f4852;
}

.navigation .open a {
    color: #2a3644;
    width: 210px;
    border: none;
    padding: 11.5px 20px
}

.open a:not(.service a) {
    border-bottom: 1px solid #b9bdc1;
}

.row:not(:first-child):nth-child(2n)

.navigation a:hover {
    color: #fd8612;
}

.navigation .open a:hover {
    color: #fd8612;
}

.open li:last-child> a {
    border: none;
}

.machinery {
    border-radius: 3px;
    background-color: #2a3644;
}

.machinery a {
    display: inline-block;
    padding: 15px;
    color: #fff;
    border-left: 1px solid #3f4852;
    width: 100%;
    text-align: center;
}

.machinery-thinks {
    display: flex;
    margin-bottom: 40px;
}

.machinery-thinks li {
    flex-grow: 1;
}

.main {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #2a3644;
    padding: 0 30px;
    align-items: center;
}

.main a {
    display: inline-block;
    position: relative;
    color: #fff;
}

.neighborhood:nth-child(1n) a {
    border-right: none;
}

.picture a::before {
    content: "";
    width: 18px;
    height: 13px;
    position: absolute;
    top: 50%;
    left: 5px;
    background: url(../img_/sprite.png);
    transform: translateY(-50%);
}

.picture a:hover::before {
    background-position-Y: 19px;
}

.main-service {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-service a {
    border-right: 1px solid #3f4852;
    padding: 11.5px 30px;
}

.networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96px;
}

.networks li {
    display: inline-block;
}

.networks a {
    background: url(../img_/sprite.png);
    transition: .5s;
}

a.fb:hover,
a.tw:hover,
a.inst:hover {
    background-position-y: -18px;
}

.networks li:nth-child(1) {
    height: 18px;
}

.networks li:nth-child(2) {
    height: 14px;
}

.networks li:nth-child(3) {
    height: 14px;
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -20px 0;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -32px 0;
}

a.inst {
    width: 14px;
    height: 14px;
    background-position: -50px 0;
}

li:hover>ul,
ul ul:hover {
    display: block;
}

ul ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 0;
    background-color: #d2d4d5;
    width: 210px;
    border-radius: 3px;
}

ul ul::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
}

ul ul li {
    display: block;
}

.open a {
    text-align: left;
}

.open li:first-child a {
    border-radius: 3px 3px 0 0;
}

.open li:last-child a {
    border-radius: 0 0 3px 3px;
}

.service {
    width: max-content;
    max-height: 170px;
    background-color: #d2d4d5;
    flex-direction: column;
    flex-wrap: wrap;
}   

.service a {
    color: #2a3644;
    width: 210px;
    border: none;
}

.service:hover,
.service-li:hover .service{
    display: flex;
}

.service li {
    border: 0.5px solid #b9bdc1;
    width: unset;
}

.service li:first-child a,
.service li:first-child {
    border-radius: 3px 0 0 0;
}

.service li:nth-child(4) a,
.service li:nth-child(4) {
    border-radius: 0 0 0 3px;
}

.service li:nth-child(5) a,
.service li:nth-child(5) {
    border-radius: 0 3px 0 0;
}

.service li:last-child a {
    border-radius: 0;
}

.service li:hover {
    border-color: #2a3644;
}

.service li:not(:nth-child(1n+5)) a {
    border-left: none;
}

.service li:nth-child(1n+5) a {
    border-right: none;
}

.service li:nth-child(4n) a {
    border-bottom: none;
}

.service li:nth-child(4n+1) a {
    border-top: none;
}

.open_8 a {
    border: 1px solid #b9bdc1;
}

.open-1 {
    right: 0;
    left: unset;
}

li {
    position: relative;
}

.open_6 {
    top: 0;
    left: calc(100% + 5px);
}

.open_6::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
}

.carde a {
    position: relative;
}

.open_7 {
    top: 0;
    right: calc(100% + 5px);
    left: unset;
}

.open_7::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    left: unset;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
}

thead {
    background-color: #2a3644;
}

thead th {
    padding: 18px 25px;
}

td:nth-child(2) {
    width: 55%;
}

th:nth-child(2) {
    text-align: left;
}

thead tr {
    color: #fff;
}

.years th {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

table th {
    border: 1px solid #3f4852;
}

table td {
    padding: 18px 24px;
    border: 1px solid #c0c1c2;
    color: #2a3644;
}

.info {
    background-color: #f2f2f2;
}

.info td {
    color: #2a3644;
}

.info:hover {
    background-color: #c0c1c2;
}

.info:nth-child(2n) {
    background-color: #e8e8e8;
}

.info:nth-child(2n):hover {
    background-color: #c0c1c2;
}

tbody tr:hover td {
    border-color: transparent;
}

.numbers {
    text-align: center;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:last-child td,
.row:last-child p {
    border-bottom: none;
}

h3 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    margin-bottom: 30px;
}

.row p {
    display: table-cell;
    border: 1px solid #c0c1c2;
}

.table-style {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.table-style .row:first-child p {
    color: #fff;
    border: 1px solid #3f4852;
}

.row .cell {
    padding: 18px 24px;
    color: #2a3644;
}

.cell:nth-child(2) {
    width: 55%;
}

td:first-child,
.cell:first-child {
    width: 6%;
}

.cell:nth-child(1) {
    text-align: center;
}

.cell:nth-child(1n+3),
td:nth-child(1n+3) {
    width: 14%;
}

.row {
    display: table-row;
    background-color: #e8e8e8;
}

.row:first-child {
    background-color: #2a3644;
}

.table-style .row:not(:first-child):hover p {
    border-color: transparent;
    background-color: #c0c1c2;
}

.row:not(:first-child):nth-child(2n) {
    background-color: #f2f2f2;
}

p:first-child {
    color: #fff;
    border-left: none;
}

p:last-child {
    border-right: none;
}